In [4]:
import os
import datetime
import copy
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict

import Tracab as tracab
import Tracking_Visuals as vis
import Tracking_Velocities as vel
import Tracking_Fatigue as fatigue
import helpers

import importlib
importlib.reload(tracab)
importlib.reload(helpers)
importlib.reload(vis)

In [5]:
# config
current_dir = os.path.dirname(os.getcwd())
dir_path = os.path.join(current_dir, 'Aalborg_Jeff')
LEAGUE = 'DSL'

# all games data
data_dict = {}
all_Aalborg_games = [x for x, _, _ in os.walk(dir_path) if x.count('_TracDAT')]

In [6]:
all_Aalborg_games[:1]

['/Users/jeffbalkanski/research_soccer/Aalborg_Jeff/984554/984554_TracDAT']

## Read a game

In [35]:
ball_series = pd.read_csv('../data_processed/ball_in_play_984496.csv', index_col=0)

In [36]:
ball_series

       ball_status ball_team
0            Alive         A
1            Alive         A
2            Alive         A
3            Alive         A
4            Alive         A
...            ...       ...
142188        Dead         A
142189        Dead         A
142190        Dead         A
142191        Dead         A
142192        Dead         A

[142193 rows x 2 columns]